.ant-select-selection-item {
    font-family: 'Ysabeau Infant', sans-serif;
}

.ant-select-item-option-content {
    font-family: 'Ysabeau Infant', sans-serif;
}

.ant-notification-notice {
    margin-top: 70px;
}