.ant-timeline-item-head.ant-timeline-item-head-custom {
    background-color: transparent;
}

 /* .ant-timeline-item-label {
    font-size: 16px;
} */

/* .ant-timeline-item-content {
    font-size: 16px;
} */